<div class="grid-row">

  <div class="column-two-thirds">
    <div class="global-breadcrumb ">
      <nav role="navigation">
        <ol>
          <li><a href="#">Home</a></li>
          <li><a href="#">Parent page</a></li>
          <li><a href="#">Parent page</a></li>
          <li><strong>Current page</strong></li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="column-quarter column-flip">
    <div class="account">
      <a href="pre-sign-in">Sign in or create an account</a>
    </div>
  </div>
  
</div>
