<table class="case-list">
  <thead>
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Client</th>
      <th scope="col">Task</th>
      <th scope="col">Status</th>
      <th scope="col">Last updated</th>
    </tr>
  </thead>
  <tbody>

    <tr class="summary new-case">
      <td>FGHIK987</td>
      <td>
        David Stephens<br>
        Maria Stephens
      </td>
      <td>Remortgage</td>
      <td>Mortgage deed created</td>
      <td>2 March 2015</td>
    </tr>
    <tr class="details js-hidden">
      <td colspan="6">

        <p>
          108 Spring Road<br>
          Bedford<br>
          BE9 3BS<br>
          Title number: GHT47583
        </p>

        <div class="actions">
          <a href="#">Case details</a>
          <a href="#">Create mortgage</a>
        </div>
        <div class="action-delete">
          <a href="#">Delete this case</a>
        </div>

      </td>
    </tr>

    <tr class="summary">
      <td>FGHIK987</td>
      <td>
        David Stephens<br>
        Maria Stephens
      </td>
      <td>Remortgage</td>
      <td>Mortgage deed created</td>
      <td>2 March 2015</td>
    </tr>
    <tr class="details js-hidden">
      <td colspan="6">

        <p>
          108 Spring Road<br>
          Bedford<br>
          BE9 3BS<br>
          Title number: GHT47583
        </p>

        <div class="actions">
          <a href="#">Case details</a>
          <a href="#">Create mortgage</a>
        </div>
        <div class="action-delete">
          <a href="#">Delete this case</a>
        </div>

      </td>
    </tr>
    
  </tbody>
</table>