{% extends "layout.html" %}

{% block page_title %}
  Case list | Components | Style Guide
{% endblock %}

{% block content %}

  <main id="content" role="main">
  
    <div class="text">

      <p><a href="/">Home</a></p>

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Land Registry style guide</span>
        Component: case list
      </h1>

    </div>

    <p><b>Javascript</b> dependencies:</p>
    <ul>
      <li>/static/js/vendor/jquery/jquery-1.11.3.js</li>
      <li>/static/js/components/case-list.js</li>
    </ul>

    <div class="example-view">
      {% include "styleguide/snippets/components/case_list.html" %}
    </div>

    <div class="example-code">
<pre><code class="language-markup">{{ include_raw('styleguide/snippets/components/case_list.html') | escape }}</code></pre>
    </div>

  </main>

{% endblock %}