{% extends "layout.html" %}

{% block page_title %}
  Components | Style Guide
{% endblock %}

{% block content %}

  <main id="content" role="main">
  
    <div class="text">

      <p><a href="/">Home</a></p>

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Land Registry style guide</span>
        Components
      </h1>

    </div>

    <h2 class="heading-large">Case list</h2>

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="example-view">
          {% include "styleguide/snippets/components/case-list.html" %}
        </div>
      </div>
      <div class="column-third">
        <div class="example-code">
<pre><code class="language-markup">{{ include_raw('styleguide/snippets/components/case-list.html') | escape }}</code></pre>
        </div>
      </div>
    </div>

  </main>

{% endblock %}