{% extends "layout.html" %}

{% block page_title %}
  Panels and callouts | Style Guide
{% endblock %}

{% block content %}

  <main id="content" role="main">
  
    <div class="text">

      <p><a href="/">Home</a></p>

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Land Registry style guide</span>
        Panels and callouts
      </h1>

    </div>

    <h2 class="heading-large">“Details” disclosure tag</h2>

    <p><b>Javascript</b> dependencies:</p>
    <ul>
      <li>/static/js/vendor/polyfills/details.polyfill.js</li>
    </ul>

    <div class="grid-row">
      <div class="column-half">
        <div class="example-view">
          {% include "styleguide/snippets/panels_and_callouts/details.html" %}
        </div>
      </div>

      <div class="column-half">
        <div class="example-code">
<pre><code class="language-markup">{{ include_raw('styleguide/snippets/panels_and_callouts/details.html') | escape }}</code></pre>
        </div>
      </div>
    </div>

    <h2 class="heading-large">Panel indent</h2>

    <div class="grid-row">
      <div class="column-half">
        <div class="example-view">
          {% include "styleguide/snippets/panels_and_callouts/panel_indent.html" %}
        </div>
      </div>

      <div class="column-half">
        <div class="example-code">
<pre><code class="language-markup">{{ include_raw('styleguide/snippets/panels_and_callouts/panel_indent.html') | escape }}</code></pre>
        </div>
      </div>
    </div>

    <h2 class="heading-large">Panel simple</h2>

    <div class="grid-row">
      <div class="column-half">
        <div class="example-view">
          {% include "styleguide/snippets/panels_and_callouts/panel_simple.html" %}
        </div>
      </div>

      <div class="column-half">
        <div class="example-code">
<pre><code class="language-markup">{{ include_raw('styleguide/snippets/panels_and_callouts/panel_simple.html') | escape }}</code></pre>
        </div>
      </div>
    </div>

    <h2 class="heading-large">Service notice</h2>

    <div class="grid-row">
      <div class="column-half">
        <div class="example-view">
          {% include "styleguide/snippets/panels_and_callouts/service_notice.html" %}
        </div>
      </div>

      <div class="column-half">
        <div class="example-code">
<pre><code class="language-markup">{{ include_raw('styleguide/snippets/panels_and_callouts/service_notice.html') | escape }}</code></pre>
        </div>
      </div>
    </div>

  </main>

{% endblock %}