// Case list
// ==========================================================================

.case-list {

  margin: $gutter 0;
  border-bottom: 1px solid $border-colour;

  th {
    border-bottom: 0;
  }

  td {
    vertical-align: top;
    border-bottom: 0;
    border-top: 1px solid $border-colour;
  }

  .summary td:first-child {
    font-weight: bold;
  }

  .details td {
    border-top: 0;
  }

  .actions,
  .action-delete {
    margin-bottom: $gutter-half;
  }

  .actions,
  .action-delete {
    a {
      margin-right: $gutter-half;
    }
  }

}